<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bW92aWUlMjB0aGVhdGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);">
  <div class="container">
    <h1>Save any kind of Movies!</h1>
    <p>Classic</p>
  </div>
</div>

<div class="container mt-2">
  <div class="d-flex justify-content-between">
    <h2>My Lists</h2>
    <%= link_to 'Create a movie list', new_list_path, class:'btn btn-success' %></li>
  </div>

  <div class="row mt-2">
    <% @lists.each do |list| %>
      <div class="col-6">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.etimg.com/thumb/width-640,height-480,imgsize-179583,resizemode-1,msid-67005826/industry/media/entertainment/how-obsession-with-box-office-numbers-is-hurting-single-screen-cinema-owners/theater-getty.jpg)">
          <%= link_to list.name, list_path(list) %>
        </div>
      </div>
    <% end %>
  </div>
</div>





